li {
  list-style: none;
}

header {
  width: 100%;
  position: fixed;
}

header > h1 {
  background-color: #00C1D4;
  color: #FFFFFF;
  margin: 0;
  padding: 8px 24px;
}

.main-content {
  margin: 0;
  padding: 62px 24px 8px;
}

footer {
  padding: 24px;
}

.selection li {
  font-size: 18px;
}