header {
  width: 100%;
  background-color: #00c1d4;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
}

header>h1 {
  color: #ffffff;
  font-size: 56px;
  margin: 0;
  padding: 16px 32px;
  float: left;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;

}

h1>a:link,
h1>a:visited,
h1>a:hover,
h1>a:active {
  color: #ffffff;
  text-decoration: none;
}